pyqt5==5.15.4                   
pyqt5-plugins==5.15.4.2.2               
pyqt5-qt5==5.15.2                   
pyqt5-sip==12.9.0                   
pyqt5-tools==5.15.4.3.2               
sqlite3==3.31.1
matplotlib==3.2.1
numpy==1.18.1
pandas==1.0.1
